@import "@/assets/scss/_variables.scss";

.main {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 10%;
    width: 400px;
    height: 400px;
    background-color: $modal-background-color;
    border-radius: 30px;
    padding: 30px;

    .modal-header {
        margin-bottom: 20px;

        .star-image {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $medium-grey;
            height: 40px;
            width: 40px;
            border-radius: 50%;

            .star img {
                position: relative;
                top: 2px;
            }
        }
    }

    .modal-content {
        margin-bottom: 30px;

        h1 {
            color: $default-white;
            font-size: $title-size;
            margin-bottom: 10px;
        }

        p {
            color: $light-grey;
            font-size: $default-size;
        }
    }

    .rate-options {
        width: 100%;
        margin-bottom: 30px;

        .rate {
            max-width: 100%;
            color: $light-grey;
            display: flex;
            justify-content: center;

            ul {
                width: 100%;
                display: flex;
                list-style: none;
                justify-content: space-between;

                li {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: $medium-grey;
                    transition: 0.3s;

                    a {
                        text-decoration: none;
                        color: $light-grey;
                        position: relative;
                        top: 18px;
                        left: 5px;
                        padding: 15px;
                        cursor: pointer;
                        transition: 0.3s;

                        &:hover {
                            color: $default-white;
                        }
                    }

                    &:hover {
                        background-color: $primary-orange;
                    }

                    &:active {
                        background-color: $light-grey;
                    }
                }
            }
        }
    }

    #btn {
        height: 40px;
        width: 100%;
        border-radius: 30px;
        border: none;
        background-color: $primary-orange;
        transition: 0.3s;

        a {
            color: $default-white;
            font-weight: $medium-weight;
            font-size: $medium-size;
            letter-spacing: 1px;
            text-transform: uppercase;
            text-decoration: none;
            padding: 10px 120px;

            &:hover {
                color: $primary-orange;
            }
        }

        &:hover {
            cursor: pointer;
            background-color: $default-white;
        }
    }
}
