// Colors
$primary-orange: #fb7413;
$default-white: #ffffff;
$light-grey: #959eac;
$medium-grey: #262F38;
$modal-background-color: #1E252F;
$very-dark-blue:#121417;
$hover-button-color: #EB6200;
$hover-options-color: #333e49;

// Typography
$title-size: 28px;
$title-medium: 24px;
$default-size: 16px;
$medium-size: 14px;
$heavy-weight: 700;
$medium-weight: 400;